parts/
eggs/
develop-eggs/
irclog2html.egg-info/
bin/
.installed.cfg
testcases/*.log.html
testcases/index.html
testcases/irclog.css
dist/
tmp/
build/
temp/
distribute-0.6.10.tar.gz
.tox/
python/
*.pyc
__pycache__/
.coverage
