include bootstrap.py
include buildout.cfg
include *.txt
include tox.ini
include src/irclog2html/irclog.css
include src/irclog2html/tests/*.py
include porting/*.txt
include porting/*.py
include porting/*.pl
include porting/testcases/*.log
include testcases/*.log
