include bootstrap.py
include buildout.cfg
include *.rst
include tox.ini
include Makefile
include src/irclog2html/irclog.css
include src/irclog2html/tests/*.py
include src/irclog2html/tests/*.cfg
include src/irclog2html/tests/*.log
include porting/*.txt
include porting/*.py
include porting/*.pl
include porting/testcases/*.log
include testcases/*.log
include .gitignore
include .travis.yml
include appveyor.yml
include .coveragerc
include COPYING
